{% extends 'base.html.twig' %}

{% block title %}Profile Page{% endblock %}

{% block body %}
    <div class="container text-centered">
        <div class="card">
            <div class="content">
                <span class="iconify" data-icon="carbon:user-avatar-filled-alt" data-inline="false" width="40"></span>
                <h3>{{ user.email }}</h3>
                <span class="small">
                    You are authenticated!
                </span>
                <h6>
                    <a href={{ path('app_logout') }}>Logout</a>
                </h6>
            </div>
        </div>
    </div>
{% endblock %}
