{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="hero is-primary">
        <div class="container">
            <h2>Symfony Login Authentication</h2>
            <h4 class="opacity-50">with the new Authenticator-based Security</h4>
            <h6>
                by using <code>Passport</code>, <code>UserBadge</code>, <code>PasswordCredentials</code>, <code>CsrfTokenBadge</code>
            </h6>
        </div>
    </div>
{% endblock %}
